.cart{
    position: sticky;
    top: 0;
    padding: 30px;
}

.cart p{
     background-color: azure;
     font-size: 20px;
     font-weight: 700;
     border-radius: 5px;
     padding: 10px;
     
}
.cart h3{
    background-color: rgb(0, 255, 255);
    font-weight: 700;
     border-radius: 5px;
     padding: 10px;
}

.clearcart{
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FF3030;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}