.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    
    position: relative;
}

.product-info{
    margin: 0 5px;
    
}
.product-info p{
    margin-bottom: -15px ;
 

}

.btn-cart{
    width: 100%;
    border-radius: 0px 0px  8px 8px;
    border: none;
    background-color: #FFE0B3;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
 .btn-cart  .btn-text{
    padding-left: 5px;
 }
.btn-cart:hover{
    background-color: orange;
    transition: all linear 1s;
    cursor: pointer;
}

.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;

margin-top: 5px;


color: rgb(212, 138, 1);
}

.shf:hover{
    color: aliceblue;
    font-size: 20px;
}